@font-face {
    font-family: "Roboto Slab";
    src: url("./fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf") format("truetype-variations");
    font-weight: 1 999;
}

body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-size: 18px;
    background: hsl(160, 18%, 67%);
    font-family: "Roboto Slab";
    font-weight: 400;
    color: #333;
    position: relative;
}

#Wrapper {
    position: relative;
}

input[type="text"] {
    font-size: 18px;
    min-width: 200px;
    padding: 8px 4px;
    border: 1px solid hsl(161, 100%, 35%);
    border-radius: 4px;
    color: hsl(161, 100%, 15%);
}

input[type="button"],
button {
    font-size: 18px;
    padding: 8px 4px;
    border-radius: 4px;
    color: hsl(161, 100%, 15%);
    border: 2px solid hsl(161, 100%, 35%);
    cursor: pointer;
}

h1 {
    text-align: center;
}

.dropdown {
    position: absolute;
    background: hsl(161, 100%, 95%);
    display: inline-block;
    border: 1px solid hsl(161, 100%, 65%);
    color: hsl(161, 100%, 35%);
}

.dropdown-item {
    padding: 4px 8px;
    border-bottom: 1px solid hsl(161, 100%, 65%);
    transition: 0.2s all;
}
.dropdown-item:hover {
    background: rgba(0, 0, 0, 0.2);
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 8px;
    box-shadow: 4px 4px 8px 12px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    min-width: 250px;
    text-align: center;
}

.modal-header,
.modal-body,
.modal-footer {
    padding: 10px;
}

.modal-body img {
    height: 90px;
}

.merger-hotels {
    display: grid;
    grid-gap: 10px;
    justify-items: stretch;
    grid-template-columns: auto auto;
}
.merger-hotel-info {
    position: relative;
    border-radius: 4px;
}

.merger-hotel-info ul {
    padding-left: 0;
    text-align: left;
    margin: 8px 16px 8px;
}

.merger-hotel-info ul li {
    display: block;
}

.merger-winner-badge {
    position: absolute;
    top: 4px;
    right: 8px;
    font-size: 12px;
    text-transform: uppercase;
}

#GameBoard {
    vertical-align: top;
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-gap: 10px 10px;
    padding: 10px;
    border-radius: 16px;
    background: hsl(160, 18%, 67%);
    box-shadow: 8px 8px 23px hsl(160, 18%, 57%), -8px -8px 23px hsl(160, 18%, 87%);
    margin: 10px;
}

.board-tile {
    width: 50px;
    height: 50px;
    display: grid;
    place-items: center;
    border-radius: 4px;
    background: hsl(160, 25%, 67%);
    box-shadow: inset 4px 4px 7px hsl(160, 25%, 57%), inset -4px -4px 7px hsl(160, 25%, 37%);
    color: #c0f1c8;
    cursor: pointer;
}

.board-tile-filled {
    border-radius: 4px;
    background: hsl(160, 5%, 27%);
    box-shadow: 4px 4px 4px #26453b;
}

#GameplayElements {
    display: inline-block;
    vertical-align: top;
}

#PlayersContainer {
    display: inline-block;
    vertical-align: top;
    background: hsl(161, 100%, 35%);
    padding: 12px;
    border-radius: 4px;
    margin: 12px;
}

.player-container {
    display: inline-block;
    position: relative;
}

.player-container input {
    position: absolute;
    bottom: 12px;
    right: 12px;
}

.player {
    display: flex;
    flex-direction: column;
    padding: 4px 8px;
    background: hsl(161, 100%, 95%);
    margin: 8px;
    text-align: center;
    border-radius: 4px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);
    border: 2px solid hsl(161, 100%, 95%);
    color: #aaa;
    transition: color 0.2s;
    position: relative;
}

.player-container [type="radio"]:checked + * {
    border: 2px solid hsl(161, 100%, 65%);
    color: #333;
}

#Stocks {
    margin: 12px;
}

#Stocks ul {
    display: inline-grid;
    vertical-align: top;
    /* background: hsl(161, 100%, 95%); */
    /* padding: 8px; */
    padding: 0 0 0 0;
    border-radius: 4px;
    margin: 0;
    grid-gap: 8px;
    place-items: center;
    grid-template-columns: auto auto;
    align-items: stretch;
}

.deck {
    display: flex;
    flex-direction: column;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);
}

#CurrentPlayer {
    display: inline-block;
    vertical-align: top;
}

.player-tiles {
    display: inline-grid;
    grid-gap: 10px;
    grid-template-columns: auto auto auto auto auto auto;
    place-items: center;
}
.player-tiles .player-tile {
    border-radius: 4px;
    background: hsl(160, 5%, 27%);
    box-shadow: 4px 4px 4px #26453b;
    color: #fff;
    height: 50px;
    width: 50px;
}

/** Hotel Colors **/

.amer {
    background: #7eb8da;
    color: #fff;
}

.cont {
    background: #92ddea;
    color: #fff;
}

.world {
    background: #c6b29b;
    color: #fff;
}

.fest {
    background: #9cb8a0;
    color: #fff;
}

.tower {
    background: #fcebae;
    color: #333;
}

.lux {
    background: #efc67c;
    color: #fff;
}

.imp {
    background: #ffa5d8;
    color: #fff;
}

/** Syntax highlighting **/

.debug-container {
    display: inline-block;
}
pre {
    outline: 1px solid #ccc;
    font-size: 12px;
    background: #eaeaea;
    padding: 5px;
    margin: 5px;
    display: inline-block;
    vertical-align: top;
}
.string {
    color: green;
}
.number {
    color: darkorange;
}
.boolean {
    color: blue;
}
.null {
    color: magenta;
}
.key {
    color: red;
}
